.region-branding {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  flex-wrap: wrap;

  .block {
    width: span(4);
    @media (max-width: 800px) {
      width: span(12);
      justify-content: center;
    }
  }
  .search-block-form {
    form {
      display: flex;
      flex-wrap: wrap;
    }
    width: span(3);
    @media (max-width: 800px) {
      width: span(6);
      order: 3;
      form {
        margin-bottom: 0;
      }
      input {
        margin-bottom: 0;
      }
    }
    @media (max-width: 560px) {
      width: span(12);
    }
  }
  .header__social {
    width: span(1);
  }
  .donate__block {
      display: flex;
      justify-content: center;

    @media (max-width: 800px) {
      order: 2;
      width: span(6);

    }
    @media (max-width: 560px) {
      width: span(12);
      display: flex;
      justify-content: center;
      margin-bottom: gutter();
    }
  }
  .block-system-menublock ul.menu {
    @extend .no-ul-list;
  }
}
  .site-branding {
    @media(max-width: 800px) {
      order: 1;
      margin-bottom: gutter()*2;
    }
    display: flex;
    justify-content: center;
    //height: 140px;
    .logo {
      width: 180px;
    }
  }
