// Markup: button.twig
//
// Style guide: components.button
.button {
  color: $primary;
  border: 2px solid $primary;
  color: $secondary;
  font-weight: bold;
  background-color: transparent;
  font-size: 1.25em;
  height: 2em;
  transition: 0.45s ease-in-out;
  white-space: nowrap;
  &:hover {
    color: $white;
    background: $primary;

  }
}

.rounded {
  border-radius: 500px;
}

button:hover {

}

.donate__block {
  .button {
    font-size: 1.25em;
    height: 2em;
    padding: 0 2em;
    @extend .rounded;
  }
}