.dog__spotlight--home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 500px;
  border: solid 1px $med-gray;

  .dog__spotlight--title {
    position: relative;
    top: -70px;
    font-size: 2.6em;
    color: $white;
    margin-left: 1em;
    margin-bottom: -30px;
  }

  .views-field-field-dog-photo {
    .field-content {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .views-field-field-dog-body {
    font-size: 110%;
    padding: 0.5em;
  }
}