.dog__spotlight--home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  border: solid 1px $med-gray;

  .dog__spotlight--title {
    position: relative;
    top: -70px;
    font-size: 2.6em;
    color: $white;
    margin-left: 1em;
    margin-bottom: -30px;
  }

  .views-field-field-nothing {
    .field-content {
      display: flex;
      justify-content: center;
      width: span(12);
      img {
        width: 100% !important;
      }
    }
  }
  .views-field-field-dog-body {
    font-size: 110%;
    padding: 0.5em;
  }
}


.view-dogs .grid__content {
    border: 1px solid #bbb;
    border-radius: 10px;
    
    .views-field.views-field-title {
    padding: 0 10px;
    font-size: 1.5em;
    color: #6c7c3a;
  }
    
    .views-field-field-dog-photo img {
    border-radius: 10px 10px 0 0;
  }
    
    .views-field.views-field-field-dog-body {
    padding: 0 10px;
  } 
}