.field--name-field-question.field--type-string-long.field__item {
    color: #6c7c3a;
    font-size: 1.5em;
}

.paragraph.paragraph--type--faq-paragraph.paragraph--view-mode--default {
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.field--name-field-answer.field--type-text-with-summary.field__item {
    margin-left: 20px;
}