#footer {
  border-top: solid 12px $secondary;
  margin-top: 4em;
}

.mq-footer {
  padding-top: 1.5em;
  padding-bottom: 0;
}

.region-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .block {
    width: span(4);
    flex-grow: 1;
    flex-shrink: 0;
    @media (max-width: 600px) {
      width: span(12);
    }
  }

  .donate__block {
    width: span(2);
    .button {
      @media (max-width: 960px) {
        font-size: 1em;

      }
    }
    @media (max-width: 800px) {
      width: span(4);
      .field--name-body {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    @media (max-width: 600px) {
      width: span(8);
    }
  }

  .footer__social {
    margin-top: 7px;
    width: span(2);
    justify-content: flex-end;
    @media (max-width: 600px) {
      width: span(4);
    }
  }

  .site-branding {
    position: relative;
    top: -70px;
    @media (max-width: 800px){
      display: none !important;
    }
  }
  #block-allrightsreservedblock {
    flex-grow: 18;
    flex-basis: 100vw;
    background: $primary;
    color: $white;
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @media (max-width: 800px) {
      margin-top: 1em;
    }

  }

  .block-menu ul.menu {
    flex: 1 1 max-content;
    @extend .no-ul-list;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-count: 2;
    column-gap: 50px;

    .menu__item {
      display: block !important;

      a {
        color: $primary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}



