#footer {
  border-top: solid 12px $secondary;
  margin-top: 4em;
}

.mq-footer {
  padding-top: 1.5em;
  padding-bottom: 0;
}

.region-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .block {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .site-branding {
    position: relative;
    top: -45px;
  }
  #block-allrightsreservedblock {
    flex-grow: 18;
    flex-basis: 100vw;
    background: $primary;
    color: $white;
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  .block-menu ul.menu {
    flex: 1 1 max-content;
    @extend .no-ul-list;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-count: 2;
    column-gap: 50px;
    
    .menu__item {
      display: block !important;
    
      a {
        color: $primary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}



