// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.mq-header {
}

.region-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .menu,
  .horizontal-menu,
  .we-mega-menu-ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .menu__item,
  .menu-item,
  .we-mega-menu-li {
    list-style: none;
    white-space: nowrap;
    a {
      //padding-left: 0;
      //padding-right: 0;
      font-size: 1.25em;
      color: $primary;
      &:hover,
      &:active,
      &:focus {
        color: $secondary;
        text-decoration: underline;
      }

    }
  }
  .sub-nav {
    background: url(../images/joeys_paw_menu_joey.png) rgba(255, 255, 255, 0.9) no-repeat;
    background-size: contain;
    background-position: 90%;
    width: 700px;
    padding: 1em 0;
    border-bottom: 0.8em solid rgba(255, 255, 255, 0);
    border-top: 0.8em solid rgba(255, 255, 255, 0);
    padding-right: 200px;
  }
}
