// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.mq-header {
  margin-top: -7em;
}

.region-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 230px;

  .site-branding {
    display: flex;
    justify-content: center;
    //height: 140px;
    .logo {
      width: 180px;
    }
  }
;
  .menu,
  .horizontal-menu,
  .we-mega-menu-ul{
    display: flex;
    justify-content: space-between;
  }
  .menu__item,
  .menu-item,
  .we-mega-menu-li {
    list-style: none;
    a {
      font-size: 1.5em;
      color: $primary;
      &:hover,
      &:active,
      &:focus {
        color: $secondary;
        text-decoration: underline;
      }

    }
  }
}
