.frontpage .block-entity-fieldnodefield-page-body {
  border-bottom: 1px solid $light-gray;
  margin-bottom: gutter();
  color: $primary;
  display: flex;
  .frontpage__wrapper {
    display: flex;
    flex-wrap: wrap;

    .frontpage__content {
      width: span(6);
      order: 1;
      margin-right: gutter();
      //align-self: center;
      @media (max-width: 800px) {
        width: span(12);
        order: 2;
      }
    }
    .frontpage__image {
      width: span(6);
      order: 2;
      display: flex;
      justify-content: center;
      @media (max-width: 800px) {
        order: 1;
        align-self: center;
        width: span(12);
      }
      img {
        margin-bottom: gutter();
        position: relative;
        top: -4em;
        width: 100%;
        margin-bottom: -3.5em;
        padding-bottom: gutter()*2;
        object-fit: contain;
        @media (min-width: 1200px) {
          object-fit: cover;
        }
        @media (max-width: 800px) {
          top: 0;
          margin-bottom: 0;

        }
      }
    }
    a {
      display: block;
      color: $secondary;
      &:hover {
        color: $med-gray;
      }
    }
  }
}