.slick__block--homepage {
  background: $white;
  .slick__slide {
    width: 33.333333333vw;
    @media (max-width: 800px) {
      width: 50vw !important;
    }
    @media (max-width: 560px) {
      width: 100vw !important;
    }
    .slide__content {
      width: 100%;
      padding: 0 2.5px;
      img {width: 100%;}
    }
  }
  .view-footer {
    position: relative;
    top: -370px;
    left: -5%;
    margin-bottom: -502px;
    transform: scale(0.5);
    @media (max-width: 1080px) {
      display: none;
    }
  }

}
