.mission__block {
  width: span(10);
  color: $white;
  margin: 1.5em 0 3em span(4);

  .field--name-body {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: span(6);
    }
  }

  h2 {
    color: $white;
    padding: 0;
    line-height: 80%;
  }

  img {
    padding-right: 1em;
    width: 140px;
    height: 100%;
  }

}