.mq-precontent {
  padding: 0;
  max-width: none;
}

.pre-content {
  min-height: 250px;
  background-size: cover;
  background-position: top center;
  padding: 2em 0 3em;
  background-repeat: no-repeat;
  @media (min-width: 801px) {
    min-height: 350px;
  }
}