.products {



  .grid {
    border: 1px solid $light-gray;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
  }
  .product__title {
  }
  .product__manufacturer {}
  .product__image {

  }
}