.slick--view--dog-sidebar-photos {
  .slick__slide {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 80vh;
    img {
      max-height: 600px;
      width: auto;
      object-fit: contain;
      flex: 1 0 auto;
    }
    div {
      width: 100%;
      text-align: center;
      border-top: 1px solid $med-gray;
      border-bottom: 1px solid $med-gray;
      margin: 0.5em 0 ;
      color: $primary;
    }
  }
  .slick__arrow {
    display: flex;
    justify-content: space-between;
  }
}