.header__social,
.footer__social {
  .fa {
    font-size: 1.5em;
    .field--name-body {
      display: flex;
    }
  }

}

.header__social {
  .fa {
    @media (max-width: 800px) {
      display: none;
    }
  }
}