.sponsor__block {
  margin-top: 2em;
  h2 {
    font-size: 1em;
    color: $primary;
    text-align: center;
  }

  .slick__slide {
    @media (max-width: 800px) {
      width: 33.333333333vw;
    }
    @media (max-width: 560px) {
      width: 50vw !important;
      //width: 100vw !important;
    }
    .slide__content {
      width: 100%;
      padding: 0 2.5px;
      img {
        width: 100%;
      }
    }
  }
}


