.sponsor__block {
  margin-top: 2em;
  h2 {
    font-size: 1em;
    color: $primary;
    text-align: center;
  }

  .slick__slide {
    //@include span(3);
    @media (max-width: 800px) {
      width: span(4);
    }
    @media (max-width: 560px) {
      width: span(6);
      //width: 100vw !important;
    }
    .slide__content {
      width: 100%;
      padding: 0 2.5px;
      img {
        width: 100%;
      }
    }
  }
}


