.testimonials {
  .testimonial {
    //margin-bottom: 50px;
    margin: 0 3em 3em;
    &::before {
      content: "\201c";
      display: block;
      position: relative;
      font-size: 5em;
      top: 60px;
      font-family: georgia;
      color: #6c7c3a;
    }
    @media (max-width: 600px) {
      margin: 0 0 3em;
    }

    .testimonial__body {
      margin-left: 50px;
    }

    .testimonial__title {
      float: right;
      margin-right: 60px;
      color: #6c7c3a;
      font-style: italic;
    }
  }
}
