.view-testimonials
    .views-row {
    margin-bottom: 20px;
    
      ::before {
      content: "\201c";
      display: block;
      position: relative;
      font-size: 5em;
      top: 60px;
      font-family: georgia;
      color: #6c7c3a;
      }
    }
    
.views-field.views-field-field-testimonial-body {
 margin-left: 50px;
 }
  
.views-field.views-field-title {
float: right;
margin-right: 60px;
color: #6c7c3a;
font-style: italic;
  }
