<div class="region-header">
  <nav class="block-system-menublock">
    <ul class="menu">
      <li class="menu__item"><a href="/">Example</a></li>
      <li class="menu__item"><a href="/">Example</a></li>
      <li class="menu__item"><a href="/">Example</a></li>
      <li class="menu__item"><a href="/">Example</a></li>
    </ul>
  </nav>
</div>