//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  @include container(75em);

  margin: 0 auto;
  padding: 0.5em 1em;
}

.frontpage {
  #main {
    background-image: linear-gradient(to top, #FFFFFF 0%, #6B7C39 72%);
  }

  .mq-main {
    background: $white;
  }

  .pre-content {
    background: $green;
    .region-pre-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .cog-layout--middle-left {
    display: flex;
    justify-content: center;
  }
  .block-entity-fieldnodefield-page-body {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;
    color: $primary;
    a {
      color: $secondary;
      &:hover {
        color: $med-gray;
      }
    }
  }

}