//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  @include container(80em);

  margin: 0 auto;

}

#main {
  background-image: linear-gradient(to top, #FFFFFF 0%, #6B7C39 72%);
}

.mq-main {
  background: $white;
}

.pre-content {
  background: $green;
  .region-pre-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}