//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  @include container(75em);

  margin: 0 auto;
  padding: 0.5em 1em;
}

#main {
  background-image: linear-gradient(to top, #FFFFFF 0%, #6B7C39 72%);
}

.mq-main {
  background: $white;
}

.pre-content {
  background: $green;
  .region-pre-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.frontpage {
  .cog-layout--middle-left {
    display: flex;
    justify-content: center;
  }
  .block-entity-fieldnodefield-page-body {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1em;
  }
}